<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--<th:block th:>-->
<!--    -->
<!--</th:block>-->
<div th:replace="~{/fragments/menu :: menu}"></div>
<div th:insert="~{/fragments/menu :: menu}"></div>
<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Aperiam debitis deleniti ducimus magnam sunt! Ab consequuntur debitis dicta et ex fuga harum
    itaque iure laborum nemo, non quos repellendus voluptatibus?</p>
<div th:replace="~{ :: .text}"></div>
<div th:replace="~{ this:: .text}"></div>
<div>
    <h2>Home page</h2>
</div>
</body>
</html>